<div class="container-fluid">
<% include partials\header %>
<div class="land">
    <div class="overlay">
        <h1>WELCOME TO MY CAMPGROUNDS</h1>
        <p>A place of beautiful camps</p>
        <div class="form-group">
            <i class="fa fa-search"></i><input type="text" placeholder="    What are you looking for?"></input>
        </div>
    </div>

</div>
<h3>Welcome to Yelpcamp</h3>
<div class="row">
    <div class="col-md-4">
        <img src="/images/background.jpg" alt="" class="one">
        <p>So many beautiful campgrounds for lease</p>
    </div>
    <div class="col-md-4">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum reiciendis laudantium est perferendis
            distinctio vero rerum, vel nesciunt impedit, sint reprehenderit corrupti. Earum sapiente consequuntur rem
            fuga enim, nulla asperiores!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia magni incidunt laboriosam eos laudantium
            aspernatur et, fugit similique quasi quaerat voluptas quae ea, veniam expedita repellat, odit reiciendis!
            Natus, quos.</p>
    </div>
    <div class="col-md-4">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum reiciendis laudantium est perferendis
            distinctio vero rerum, vel nesciunt impedit, sint reprehenderit corrupti. Earum sapiente consequuntur rem
            fuga enim, nulla asperiores!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia magni incidunt laboriosam eos laudantium
            aspernatur et, fugit similique quasi quaerat voluptas quae ea, veniam expedita repellat, odit reiciendis!
            Natus, quos.</p>
    </div>

    <div style="text-align: center; flex: 1; padding-bottom: 10px;">
        <a  class ="btn btn-primary btn-lg" href="/campgrounds">View all campgrounds</a>
    </div>
</div>
<% include partials\footer  %>
</div>